<div class="product-detail">
    <span class="close-box" (click)="UpdateSelectedProduct()">×</span>
    <div class="image-container">
        <img src="/assets/products/p1.jpg" alt="">
    </div>
    <div class="product-details">
        <div class="product-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, commodi.</div>
        <div class="product-price">
            <span class="net-price">$ 999.99</span> $ 899.23
        </div>
        <div class="colors">
            <div class="colors-balls">
                <span class="color-ball"></span>
                <span class="color-ball"></span>
                <span class="color-ball"></span>
            </div>
            3 Colours |
            <span class="item-left">
                In Stock
            </span>
        </div>
        <button class="buy-now">Buy Now</button>
    </div>
</div>