@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Sansita", sans-serif;
    /* Using the "Sansita" font */
}

a {
    text-decoration: none;
    font-family: "Concert One", sans-serif;
    /* Using the "Concert One" font */
}